
div {
    position: relative;
    border: 5px solid;
    border-color: #ee8129;
    border-radius: 5px;
    padding-bottom: 20px;
    float:left; 
    border-collapse: collapse;
    
}
header {
    font-size: 1.8rem;
    background-color: #ee8129;
    color: white;
    text-align: center;
    height: 60px;
    line-height: 60px;
}
h2 {
    text-align: center;
    font-size: 1.3em;
}
.money {
    font-size: 5rem;
}
table {
    margin: auto;
}
ul {
    margin-right: 10px;
}
li {
line-height: 30px;
list-style-type: none;
background: rgb(237,245,253, 0.9);
margin: 2px;
}
li::before { 
    content: "✔";
    color: green;
    padding-right: 10px;
}

button {
    margin: 0 auto;
    display: block;
    width: 250px;
    height:30px;
    background-color: #ee8129;
    border: none;
    border-radius: 5px;
    border-bottom: 4px solid #b3560b;
}
.listColor {
    background: rgb(245,245,246, 0.9);
}
button:hover {
    background-color: #b3560b;
}
div.firstPicture button {
    background-color: #2f70a8;
    border-bottom: 4px solid #13426b;
}
div.thirdPicture button {
    background-color: #2f70a8;
    border-bottom: 4px solid #13426b;
}
div.firstPicture button:hover {
    background-color: blue;
}
div.thirdPicture button:hover {
    background-color: blue;
}
div.firstPicture {
    border: 1px solid gray;
}
div.firstPicture header{
    background-color: #2bc2d5;
}
div.thirdPicture {
    border: 1px solid gray;
}
div.thirdPicture header{
    background-color: #00b89a;
}
div.secondPicture {
    font-size: large;
}
h1{
    font-size: 1.75em;
}
